*{
    margin: 0;
    padding: 0;
}
$custWidth:1140px;
$runningTitleHeight:100px;

i{
    margin-bottom: 20px;
    color:rgb(183, 236, 183);
}
ol{
    margin-left: 20px;
}
body{
    background-color: rgb(29, 30, 31) ;
    color: white;
    font-family: Courier;
    font-weight: 500;
    font-size: 20px;    
    line-height: 2rem;
}
header{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
}

.body-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: $custWidth;
    margin: 0 auto;
    padding: 0 50px;
}
.div-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}
footer{
    display: flex;
    margin: 50px auto;
    text-align: center;
    align-self: end;
}
 
output{
    color: black;
    background-color: white;
}
button{
    outline: none;
    box-shadow:0 0 20px rgb(226, 226, 226);
    border-radius: 3px;
    width: fit-content;
    align-self: center;
    color: black;
    background-color: white;
    padding: 20px;
    font-family: Courier;
    font-weight: 500;
    font-size: 20px;
    &:hover{
        font-weight: 700;
        border: 2px solid black;
        
    } 
}
ul{
    list-style-type:none;
}